html,
body {
  height: 100%;
}

body {
  color: $dark;
  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;
  background-color: $silver-100;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $dark;
  font-size: 18px;
  line-height: 1.3;
  @extend %rubik-400;
  outline: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.3;
  color: $darkBlue-900;
  @extend %rubik-500;
}