.best-restorants {
    text-align: center;

    &__title {
        margin-bottom: 45px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}